stick-pull-v2/stick-pull-v2_rgb_action_50ep/vision.zip filter=lfs diff=lfs merge=lfs -text
pick-out-of-hole-v2/pick-out-of-hole-v2_rgb_action_50ep/vision.zip filter=lfs diff=lfs merge=lfs -text
bin-picking-v2/bin-picking-v2_rgb_action_50ep/vision.zip filter=lfs diff=lfs merge=lfs -text
